<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="account">
        <h1>Create Account</h1>
        <form action="/" method="post">
            <input type="text" placeholder="Enter your name">
            <br>
            <input type="number" placeholder="Enter your number">
            <br>
            <input type="password" placeholder="create your password">
            <br>
            <button>Create Account</button>
        </form>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>