<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList - SignIn</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/signin.css')}}">
</head>
<body>
    <div class="account">
        <img src="{{url_for('static', filename='img/logo.png')}}" alt="">
        <h1>SignIn</h1>
        <form action="/" method="post">
            <input required type="password" placeholder="Enter your password" name="password">
            <br>
            <div class="button">
                <span>I have no any account? <a href="/signUp">SignUp</a></span>
                <br>
                <button>Sign In</button>
            </div>
        </form>
    </div>
</body>
</html>