<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList - SignUp</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/signup.css')}}">
</head>
<body>
    <div class="account">
        <h1>Signup</h1>
        <form action="/" method="post">
            <input type="text" placeholder="Enter your name" name="username">
            <br>
            <input type="number" placeholder="Enter your number" name="number">
            <br>
            <input type="password" placeholder="create your password" name="password">
            <br>
            <div class="button">
                <span>I have already an account</span>
                <br>
                <button>Sign up</button>
            </div>
        </form>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>